---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

.myface {
    height: 64px;
	margin: auto;
}

.parallax-container {
      height: "200px";
    }
	
#leftnav{
	height=100%;
}
#siteinformation{
	background-image: url("https://adamebell.com/images/farmland.jpg");
	margin:auto;
	}
	
.postcard{
	margin: 30px 0px;
	padding: 0px 10px 10px;
}